# http://www.gnu.org/software/automake

Makefile
Makefile.in
autogen.sh
m4
config.guess
config.h.in
config.h.in~
config.sub
ltmain.sh

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
